<h2>New Objective</h2>
<form action="/objectives" method="POST">
<p>Name: <input type="text" name="name"></p>
<p>Idea: <input type="text" name="idea"></p>
<p>Content: <input type="text" name="content"></p>
<input class="btn btn-primary" type="submit" value="submit">
</form>

<br>

<a href="/objectives">Return to current objectives. </a>