<p> Welcome, <%= current_user.username %>
<h2> Current Objectives </h2>

<% @objectives.each do |objective| %>
<div>
  - <%= objective.name %> 
  - <%= objective.idea %> 
</div>
<% end %>

<br>

<a href="/objectives/new"> Create New Objective </a>

<br>

<a href="/users/logout">Log out </a>


# take out idea, and content - allow name click able to show page ? 
# fir logout page 


