<p> Welcome, <%= current_user.username %>
<h2> Current Objectives </h2>

<% @objectives.each do |objective| %>
<div>
  - <a ref="/objectives/edit_objectives"> <%= objective.name %> </a>
</div>
<% end %>

<br>

<a href="/objectives/new"> Create New Objective </a>

<br>

<a href="/logout">Log out </a>



