<p> Welcome, <%= current_user.username %>
<h2> Current Objectives </h2>


<% if flash.has?(:alert) %>
  <%= flash[:alert] %>
<% end %>

<% @objectives.each do |objective| %>
<div>
  - <a href="/objectives/<%= objective.id %>"> <%= objective.name %> </a>
</div>
<% end %>

<br>

<a href="/objectives/new"> Create New Objective </a>

<br>

<a href="/logout">Log out </a>




